@model prueba.Trabajadorxfinca

@{
    ViewBag.Title = "eliminar asignacion";
}

<h2>eliminar asignacion</h2>

<h3>Esta seguro de querer eliminar la asignacion de trabajo?</h3>
<div>
    <h4>Trabajadorxfinca</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
